ul{width: 50px;
height: 50px;
display: flex;
gap:300px;
 background-color: blue;
font-style: italic;

}
img{
    position: relative;
    left: 70%;

}
.div1{position: absolute;
    left: 20%;
    top:5%;
    background-color:rgb(54, 5, 117);
    font-style: oblique;
width: 400px;
height: 500px;

}
body{
    background-color: rgb(79, 54, 216);
}
.pai{
    display: flex;
    gap: 20px;
}
.filha{height: 100px;
width: 100px;
background-color: aliceblue;
}
.img3{
    width: 30px;
    height: 30px;
}